.sub-menu-items {
    padding-bottom: 40px;

    .item-type-header {
        grid-column: 1 / -1;

        h2 {
            padding: 0 0 16px;
        }

        hr {
            border: 0;
            border-top: 2px solid #33333341;
            border-bottom: 1px solid #ffffff5b;
            padding-bottom: 48px;
        }
    }


    .items {
        text-decoration: none;
        color: black;
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 148px;
            border-radius: 50%;
            padding-bottom: 16px;
        }

        p {
            width: 80%;
            font-size: 16px;
            line-height: 1.5;
            font-weight: 600;
            text-align: center;
            padding-bottom: 16px;
        }


    }
}


@media (max-width: 768px) {
    .sub-menu-items {
        .items {
            p {
                font-size: 14px;
            }
        }
    }
}