* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_container {
    display: grid;
    grid-template-columns: 131px 150px .5fr repeat(8, 1fr) .5fr;
    grid-template-rows: 64px repeat(3 auto);

    h1 {
        font-size: 1.75rem;
        color: black;
        grid-column: 4 / -1;
        margin: 40px 0 48px;
    }
}

.menu-page-navigation {
    .navbar-nav-left {
        li:first-child {
            padding: 35px 0 30px;
            border-bottom: 5px #006340 solid;
        }
    }
}

.sidebar-container {
    grid-column: 2 / 3;
    grid-row: span 4;
    justify-self: center;
}

.menu {
    grid-column: 4 / 11;
    display: grid;
    grid-template-columns: repeat(8, minmax(69px, 1fr));
    grid-template-rows: 1fr 160px;
    grid-auto-rows: 160px;
    padding: 0 0 40px;

    .category {
        grid-column: 1 / -1;

        h2 {
            padding-bottom: 16px;
        }

        hr {
            border: 0;
            border-top: 2px solid #33333341;
            border-bottom: 1px solid #ffffff5b;
            padding-bottom: 32px;
        }
    }
}

@media (max-width: 1024px) {
    .main_container {
        grid-template-columns: 99px repeat(10, 1fr) .5fr;

        h1 {
            grid-column: 2 / -2;
        }
    }

    .menu {
        grid-column: 2 / -2;
    }
    .menu-footer {
        padding-left: 75px;
    }
}

@media (max-width: 768px) {
    .main_container {
        padding: 32px 16px;
        grid-template-columns: repeat(4, 1fr);

        h1 {
            font-size: 24px;
            grid-column: 1 / -1;
            margin: 0 0 24px;
        }
    }

    .menu {
        grid-column: 1 / -1;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 90px;
        grid-auto-rows: 90px;
        padding-bottom: 24px;

        .category {
            h2 {
                font-size: 19px;
            }
        }

        .sub-categories {
            p {
                padding-left: 16px;
            }
        }
    }
    .menu-footer {
        padding-left: 0px;
    }
}