.starExchange {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  background-color: #d4e9e2;

  .outerContainer {
    height: 275px;
    flex: .8;
    display: flex;
    align-items: center;
  }

  .imageContainer {
    flex: 1;

    img {
      width: 90%;
    }
  }

  content {
    flex: 1;
    text-align: start;

    h3 {
      font-size: 24px;
      padding-bottom: 16px;
      text-align: start;
      color: black;
    }

    p {
      font-size: 16px;
    }
  }
}


@media (max-width: 768px) {
  .starExchange {
    .outerContainer {
      height: auto;
      flex: 1;
      flex-direction: column;
    }

    .imageContainer {
      padding-bottom: 32px;

      img {
        width: 100%;
      }
    }

    content {
      padding: 0 16px 16px;
      text-align: center;

      h3 {
        text-align: center;
        font-size: 19px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}