.section-3 {
    background-color: #f2f0eb;
}

.content-inner-3 {
    padding: 48px 40px;

    header {
        text-align: center;
        padding-bottom: 64px;
        margin: 0 15% 24px;

        h2 {
            font-size: 24px;
        }

        p {
            font-size: 14px;
        }
    }

    hr {
        margin: 24px 0 48px;
    }
}

.star-per-dollar {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 2;

    .content-header {
        grid-column: 1 / 2;
        padding-bottom: 32px;

        h3 {
            font-size: 24px;
        }

        p {
            font-size: 16px;
        }
    }

    .cards {
        display: flex;

        .image-container {
            flex-basis: 112px;
            padding-right: 16px;

            img {
                width: 112px;
            }
        }

        .content-container {
            flex: 1;
            flex-direction: column;
            justify-content: start;

            h4 {
                font-size: 19px;
            }

            p {
                padding-top: 16px;
                font-size: 16px;
                width: 90%;
            }
        }
    }
}

@media (max-width: 1024px) {
    .star-per-dollar {
        grid-template-columns: 1fr 1fr;

        .content-header {
            grid-column: span 2;
            padding-bottom: 32px;

            h3 {
                font-size: 24px
            }
        }
    }
}

@media (max-width: 768px) {
    .content-inner-3 {
        padding: 48px 16px;

        header {
            margin: 0;

            h2 {
                padding: 24px 0 16px;
            }

            p {
                margin: 0;
            }
        }

        hr {
            margin: 16px 0 40px;
        }
    }



    .star-per-dollar {
        grid-template-columns: 1fr;
        grid-template-rows: 3;

        .content-header {
            grid-column: 1 / 2;

            h3 {
                font-size: 19px;
            }

            p {
                font-size: 14px;
                margin: 0;
            }
        }

        .cards {
            padding-bottom: 32px;

            .content-container {
                h4 {
                    font-size: 16px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }
}