* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color: #000;
}

.rewards-page-navigation {
    .navbar-nav-left {
        li:nth-child(2) {
            padding: 35px 0 30px;
            border-bottom: 5px #006340 solid;
        }
    }
}


.main-header {
    height: 800px;
    background-color: #d4e9e2;
    margin: 32px 0 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    background-position: right bottom;

    div {
        flex-basis: 50%;


        .text-content {
            padding: 32px 40px;

            h2 {
                font-size: 36px;
                text-transform: uppercase;
            }

            p {
                padding-top: 16px;
                font-size: 19px;
            }

            div {
                padding-top: 32px;
            }
        }

    }
}

.section-1,
.section-2 {
    padding: 64px 0;
}

.section-container {
    a {
        color: #006241;
    }

    text-align: center;
    padding: 0 24px 32px;


    h3 {
        font-size: 26px;
    }

    p {
        padding-top: 16px;
        font-size: 16px;
    }

    .instruction {
        padding-top: 48px;
        margin: 0 5%;
        display: flex;

        .instruction-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 24px;
            flex: 1;


            img {
                width: 48px;
                padding-bottom: 24px;
            }

            div {
                h3 {
                    font-weight: 600;
                    font-size: 19px;
                }

                p {
                    line-height: 1.5;

                    font-size: 16px;
                }
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}



@media (max-width: 768px) {
    .main-header {
        margin-top: 10px;
        flex-direction: column;
        height: 700px;
        margin-bottom: 32px;

        .text-content {
            text-align: center;
        }
    }

    .section-1,
    .section-2 {
        padding: 32px 0;
    }

    .section-container {
        padding: 0 16px;

        h2 {
            font-size: 24px;
            font-weight: 600;
        }

        p {
            font-size: 14px;
        }

        .instruction {
            flex-direction: column;
            justify-content: flex-start;
            margin: 0;

            .instruction-items {
                margin: 0;
                padding-bottom: 32px;
                flex-direction: row;
                text-align: start;
                justify-self: flex-start;

                img {
                    width: 64px;
                    padding-right: 16px;
                    padding-bottom: 0;
                    align-self: flex-start;
                }

                div {



                    h3 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 14px;
                    }

                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }



}


/* Section 2 */
.section-2 {

    .instruction {
        .larger-img img {
            width: 112px;
        }
    }
}

.rewards {

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}