.slider-container {
    width: 100vw;
    overflow: hidden;
}

.slider {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease;
}

.slide {
    min-width: 25vw;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.cards-img {
    width: 90%;
    flex: .9;
}


.feature {
    position: relative;
}

/* Style for the slide buttons */
/*
.buttons {

    height: 5%;
    width: 5%;
    position: absolute;
    top: 40%;
    /* Adjust this value to place the buttons vertically within the slide */
/*
display: flex;
justify-content: space-between;
width: 100%;
}

*/

/* Style for individual buttons */
.prev-btn,
.next-btn {
    font-size: 12px;
    height: 10%;
    /* Your styles for buttons go here */
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.next-btn {
    /* Additional styles for the Next button if needed */
}

.prev-btn {
    /* Additional styles for the Previous button if needed */
}

.hidden {
    display: none;
}