// ||| GENERAL STYLE

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Sodo Sans Semibold';
}

img {
    display: block;
}

button {
    border: none;
    border: 1px solid #000;
    border-radius: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 7.5px 17px;

    &:hover {
        transition: all 0.2s ease;
        background-color: rgba(0, 0, 0, 0.042);
    }

    &:active {
        font-size: 1.47rem;
        transition: 0.2s;
    }
}

.hidden {
    display: none;
}
// ||| CARD-SECTIONS


.cards {
    position: relative;
    padding-left: 10%;
    overflow: hidden;
    
    @media (max-width: 768px) {
        padding-left: 2%;
    }

    &-items {
        position: relative;
        display: flex;
        justify-content: flex-start;
        height: 35rem;
        align-items: center;
        transition: transform 0.3s;

        @media (max-width: 1440px) {
            height: 25rem;
        }

        @media (max-width: 768px) {
            height: 15rem;
        }
    }

    .item {
        position: absolute;
        width: calc(100% / 4.7); 
        height: auto; 
        box-shadow: 0 6px 6px rgba(0,0,0,.14);
        border-radius: 1.5rem;

        @media (max-width: 1024px) {
            width: calc(100% / 3.5);
        }


        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &-text {
        font-size: 1.5rem;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;

        &-type {
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.1em;
        }

        &-see-all {
            cursor: hover;
            color: #00754A;
            font-weight: 700;
        }

    } 


    &-img {
        width: 100%;
        height: auto;
        cursor: pointer;
        border-radius: 1.5rem;
    }

    &-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;
        
        &-style {
            border: none;
            height: 3.7rem;
            width: 3.7rem;
            margin-top: 1rem;
            background-color: #fff;
            box-shadow: 0 0 6px rgba(0,0,0,.24), 0 8px 12px rgba(0,0,0,.14);
            position: relative;
            transition: transform 0.3s, box-shadow 0.3s;

            &-icon {
                position: absolute;
                left: 0.8rem;
                top: 0.8rem;
                width: 2rem;
                height: 2rem;
            }

            &:hover {
                background-color: #fff;
            }

            &:active {
                transform: translateY(4px);
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
                animation-name: background-animation;
                animation-duration: 0.3s;
            }
            @keyframes background-animation {
                0% {
                  background-color: rgb(255, 255, 255);
                }
                50% {
                  background-color: rgb(148, 142, 142);
                }
                100% {
                  background-color: rgb(255, 255, 255);
                }
              }
        }

        &-right {
            border: none;
            right: 30px;
        }

        &-left {
            border: none;
            left: 100px;

            @media (max-width: 768px) {
                left: 10px;
            }
        }
    }
}

// ||| GET-A-GIFT-CARDS-SECTIONS

.gift-cards {
    position: relative;
    background-color: #D4E9E2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    height: 125px;
    margin: 3rem 0px;
    padding-left: 10%;

    @media (max-width: 1440px){
        height: 150px;
    }

    @media (max-width: 768px) {
        padding-left: 2%;
        height: 175px;
    }
    

    &-left {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1024px) {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
        }

        &-p1 {
            font-size: 2.5rem;
            font-weight: bold;
            margin-right: 30px;
        }

        .flex-part-1 {
            display: flex;
            align-items: center;

            @media (max-width: 1024px) {
                margin-top: 1rem;
            }

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .flex-part-2 {
            @media (max-width: 768px) {
                margin-top: 2rem;
            }
        }

        &-p2 {
            font-size: 2rem;
            color: darkgrey;
            margin-right: 3rem;
            font-weight: 100;
        }

        &-btn-left {
            background-color: #D4E9E2;
            color: #000;
            margin-right: 1rem;;
        }

        &-btn-right {
            color: #fff;
            background-color: #000;

            &:hover {
                background-color: rgba(0, 0, 0, 0.764);
            }

        }

    }

    &-right {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: #00754A;

        @media (max-width: 1440px){
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
        
    }

}


// ||| BULK-GIFT-CARDS-SECTION

.bulk-gift-cards {
    background-color: #F9F9F9;
    padding-left: 10%;

    display: grid;
    grid-template-columns: minmax(min-content, 150px) 5rem repeat(2, minmax(min-content, 150px))  1fr 1fr;
    grid-template-rows: 56px min-content 56px;

    @media (max-width: 768px) {
        padding-left: 5%;
        grid-template-columns: repeat(2, min-content) 1fr 1fr;
        grid-template-rows: 50px repeat(2, min-content) 50px;
        row-gap: 1rem;
    }

    &-item {
        grid-row: 2 / 3;
        width: 375px;

        @media (max-width: 768px) {
            grid-column: 1 / 3;
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &-text {
        grid-column: 3 / 5;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;

        @media (max-width: 768px) {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }

        &-h3 {
            font-size: 2.5rem;

        }

        &-p {
            font-size: 1.5rem;
            font-weight: 100;
            color: rgba(0,0,0,.58);

            @media (max-width: 768px) {
                margin: 2rem 0;
            }
        }

        &-btn {
            background-color: #F9F9F9;
            padding: 0.5rem 1rem;
        }
    }

}

// ||| CARDS-SUPPORT-SECTION

.cards-support {
    height: 225px;
    padding: 40px 0 40px 10%;
    background-color: #EDEBE9;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    @media (max-width: 768px) {
        padding-left: 5%;
    }

    &-h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &-p {
        font-size: 1.5rem;
        max-width: 400px;
        padding: 10px 0px;
    }

    &-btn button{
       margin-right: 1.5rem;
    }
}